.logo {
  width: 60px;
  cursor: pointer;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 47px 0px rgba(0, 0, 0, 0.75);
}

nav {
  width: 100%;
  position: relative;
}

.ul-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.boton {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 560px) {
  .logo {
    width: 55px;
  }

  header {
    display: flex;
    justify-content: space-between;
    background-color: #3068c9;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  .toggle {
    width: 60px;
    display: flex;
    padding: 5px 15px 5px 5px;

    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
  }
  .nav {
    position: fixed;
    background-color: #3068c9;
    left: -100%;
    top: 80px;
    width: 100%;
    transition: left 0.3s ease-in-out;
  }
  .nav ul {
    display: block;
  }
  .nav ul li {
    display: flex;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
  }
  .nav ul li:last-child {
    border-bottom: none;
  }
  .abierto {
    left: 0;
    z-index: 30;
  }
}
