@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100svh;
  background-image: url(./assets/LOGO/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Esta línea fija el fondo */
}

a {
  cursor: pointer;
}

#app {
  background-image: url(./assets/LOGO/APP.png);
  height: 85svh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
}

.ultimo {
  padding-bottom: 50px;
}
