.container {
  background-image: url('https://i.ibb.co/KDL2RNp/mapa.png&quot');
  height: 70svh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.div-select {
  padding: 20px 0px;
}

.oculto {
  display: none;
}

@media (max-width: 600px) {
  .oculto {
    display: flex;
  }
}
