.section-investigacion {
  text-align: justify;

  backdrop-filter: blur(10px);
  position: absolute;

  padding: 20px;
}

.texto {
  font-size: 15px;
}

.texto > span {
  font-weight: 700;
  text-shadow: 5px;
}
